# Requête 1 Marc: Proportion de personnes en état de sous-nutrition

In [1]:
#Importation des librairies 
import pandas as pd
import numpy as np

In [2]:
#Importation des données
df_population = pd.read_csv ('population.csv')
df_sous_nutrition = pd.read_csv ('sous_nutrition.csv')
df_dispo_alimentaire = pd.read_csv ('dispo_alimentaire.csv')
df_aide_alimentaire = pd.read_csv ('aide_alimentaire.csv')

In [3]:
# Visualisation des data frames
display(df_sous_nutrition.head())
display(df_population.head())

          Zone      Année Valeur
0  Afghanistan  2012-2014    8.6
1  Afghanistan  2013-2015    8.8
2  Afghanistan  2014-2016    8.9
3  Afghanistan  2015-2017    9.7
4  Afghanistan  2016-2018   10.5

          Zone  Année     Valeur
0  Afghanistan   2013  32269.589
1  Afghanistan   2014  33370.794
2  Afghanistan   2015  34413.603
3  Afghanistan   2016  35383.032
4  Afghanistan   2017  36296.113

In [4]:
#Visualisation du nombre de lignes et colonnes de df_sous_nutrition
display(df_sous_nutrition.shape)
display(df_sous_nutrition.info())

#Visualisation du nombre de lignes et colonnes de df_population
display(df_population.shape)
display(df_population.info())
display(df_sous_nutrition['Valeur'].unique()) #Visualisation des valeurs uniques

(1218, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1218 entries, 0 to 1217
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1218 non-null   object
 1   Année   1218 non-null   object
 2   Valeur  624 non-null    object
dtypes: object(3)
memory usage: 28.7+ KB

None

(1416, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1416 entries, 0 to 1415
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Zone    1416 non-null   object
 1   Année   1416 non-null   int64
 2   Valeur  1416 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 33.3+ KB

None

array(['8.6', '8.8', '8.9', '9.7', '10.5', '11.1', '2.2', '2.5', '2.8',
       '3', '3.1', '3.3', '0.1', '1.3', '1.2', nan, '7.6', '6.2', '5.3',
       '5.6', '5.8', '5.7', '1.5', '1.6', '1.1', '1.7', '<0.1', '21.7',
       '22.4', '23.3', '22.3', '21.5', '20.9', '0.8', '2', '1.9', '1.8',
       '0.4', '0.5', '0.3', '0.2', '3.2', '3.4', '3.6', '3.8', '2.1',
       '2.3', '2.4', '0.6', '0.7', '0.9', '3.9', '2.7', '1.4', '4.8',
       '4.6', '4.9', '5', '4.4', '4.3', '4.2', '4.5', '26.2', '24.3',
       '21.3', '21.1', '2.9', '5.1', '5.2', '5.4', '203.8', '198.3',
       '193.1', '190.9', '190.1', '189.2', '23.6', '24', '24.1', '3.7',
       '7.3', '7.8', '8.4', '9', '9.1', '10.1', '10', '10.7', '11.5',
       '11.9', '11.8', '8.7', '10.3', '11', '1', '5.5', '6.8', '7.9',
       '5.9', '7', '9.2', '9.4', '9.6', '6.7', '7.1', '7.2', '14.7',
       '17.4', '20.2', '22.2', '22.8', '24.6', '31.1', '28.5', '25.4',
       '24.8', '26.1', '14.5', '15.4', '16.5', '15.8', '15.7', '10.8',
       '11.2', '11.6', '12', '12.2', '13.5', '13.2', '12.8', '13', '13.4',
       '14.1', '4.1', '6.1', '6', '6.5', '2.6', '8', '8.3'], dtype=object)

In [5]:
#Remplacement et affichage des valeurs de l'année 2017 et remplacement des 'nan' et '<0.1' par 0

df_sous_nutrition['Année'] = df_sous_nutrition['Année'].replace(to_replace='2016-2018', value='2017')
df_sous_nutrition['Valeur']= df_sous_nutrition['Valeur'].fillna(0) 
df_sous_nutrition.loc[df_sous_nutrition['Valeur'] == '<0.1', 'Valeur'] = '0'
df_sous_nutrition = df_sous_nutrition.loc[df_sous_nutrition['Année']=='2017']
df_sous_nutrition['Valeur'] = pd.to_numeric(df_sous_nutrition['Valeur'])

display (df_sous_nutrition)

                                        Zone Année  Valeur
4                                Afghanistan  2017    10.5
10                            Afrique du Sud  2017     3.1
16                                   Albanie  2017     0.1
22                                   Algérie  2017     1.3
28                                 Allemagne  2017     0.0
...                                      ...   ...     ...
1192  Venezuela (République bolivarienne du)  2017     8.0
1198                                Viet Nam  2017     6.5
1204                                   Yémen  2017     0.0
1210                                  Zambie  2017     0.0
1216                                Zimbabwe  2017     0.0

[203 rows x 3 columns]

In [6]:
#Renomination de colonne: Valeur en Population_sous_nutrition
df_sous_nutrition = df_sous_nutrition.rename(columns={'Valeur':'Population_sous_nutrition'})
display(df_sous_nutrition)

                                        Zone Année  Population_sous_nutrition
4                                Afghanistan  2017                       10.5
10                            Afrique du Sud  2017                        3.1
16                                   Albanie  2017                        0.1
22                                   Algérie  2017                        1.3
28                                 Allemagne  2017                        0.0
...                                      ...   ...                        ...
1192  Venezuela (République bolivarienne du)  2017                        8.0
1198                                Viet Nam  2017                        6.5
1204                                   Yémen  2017                        0.0
1210                                  Zambie  2017                        0.0
1216                                Zimbabwe  2017                        0.0

[203 rows x 3 columns]

In [7]:
#Sélection de l'année 2017 pour avoir seulement les informations 2017
df_population=df_population.loc[df_population["Année"]==2017]
df_population=df_population.rename(columns={'Valeur':'Population'}) #renommage de la colonne Valeur en Population
df_population.head()

              Zone  Année  Population
4      Afghanistan   2017   36296.113
10  Afrique du Sud   2017   57009.756
16         Albanie   2017    2884.169
22         Algérie   2017   41389.189
28       Allemagne   2017   82658.409

In [8]:
# Type de données
display(df_sous_nutrition.dtypes)
display(df_population.dtypes)

Zone                          object
Année                         object
Population_sous_nutrition    float64
dtype: object

Zone           object
Année           int64
Population    float64
dtype: object

In [9]:
#Jointure pour avoir la population et la population en sous-nutrition dans le même data frame
sous_nutrition=pd.merge(df_population[['Zone','Population']],df_sous_nutrition[['Zone','Population_sous_nutrition']], on='Zone', how='inner')
display(sous_nutrition)

,Zone,Population,Population_sous_nutrition
0,Afghanistan,36296.113,10.5
1,Afrique du Sud,57009.756,3.1
2,Albanie,2884.169,0.1
3,Algérie,41389.189,1.3
4,Allemagne,82658.409,0.0
...,...,...,...
198,Venezuela (République bolivarienne du),29402.484,8.0
199,Viet Nam,94600.648,6.5
200,Yémen,27834.819,0.0
201,Zambie,16853.599,0.0
202,Zimbabwe,14236.595,0.0

In [10]:
#conversion des valeurs de population pour avoir la même unité
sous_nutrition ['Population']=sous_nutrition['Population']*1000
sous_nutrition ['Population_sous_nutrition']=sous_nutrition['Population_sous_nutrition']*1000000
sous_nutrition.inplace=True
sous_nutrition.head()

             Zone  Population  Population_sous_nutrition
0     Afghanistan  36296113.0                 10500000.0
1  Afrique du Sud  57009756.0                  3100000.0
2         Albanie   2884169.0                   100000.0
3         Algérie  41389189.0                  1300000.0
4       Allemagne  82658409.0                        0.0

In [11]:
# Agrégation en somme pour avoir population totale
Total_population= sous_nutrition['Population'].sum()
print("Il y a un total de",round(Total_population)," personnes dans le monde")

Il y a un total de 7543798779  personnes dans le monde

In [12]:
# Agrégation en somme pour avoir population totale en sous-nutrition
Total_population_sous_nutrition=sous_nutrition['Population_sous_nutrition'].sum()
print(round(Total_population_sous_nutrition),"personnes souffrent de sous-nutrition")

535700000 personnes souffrent de sous-nutrition

In [13]:
#Réponse requête 1 : Proportion de la population mondiale en état de sous-nutrition
Proportion_sous_nutrition_mondiale=Total_population_sous_nutrition/Total_population*100
print(round(Proportion_sous_nutrition_mondiale, 2), "% de la population mondiale est en état de sous-nutrition")

7.1 % de la population mondiale est en état de sous-nutrition

# Requête 2 Marc: Calcul du nombre théorique de personnes qui pourraient être nourries

In [14]:
#Visulatisation des données 
display(df_dispo_alimentaire.head())
display(df_dispo_alimentaire.info())

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/jour),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,5.0,1.72,0.20,0.77,53.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,1.0,1.29,0.01,0.02,41.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,1.0,0.06,0.01,0.03,2.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,4.0,2.70,0.02,0.05,82.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15605 entries, 0 to 15604
Data columns (total 18 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Zone                                                           15605 non-null  object
 1   Produit                                                        15605 non-null  object
 2   Origine                                                        15605 non-null  object
 3   Aliments pour animaux                                          2720 non-null   float64
 4   Autres Utilisations                                            5496 non-null   float64
 5   Disponibilité alimentaire (Kcal/personne/jour)                 14241 non-null  float64
 6   Disponibilité alimentaire en quantité (kg/personne/an)         14015 non-null  float64
 7   Disponibilité de matière grasse en quantité (g/personne/jour)  11794 non-null  float64
 8   Disponibilité de protéines en quantité (g/personne/jour)       11561 non-null  float64
 9   Disponibilité intérieure                                       15382 non-null  float64
 10  Exportations - Quantité                                        12226 non-null  float64
 11  Importations - Quantité                                        14852 non-null  float64
 12  Nourriture                                                     14015 non-null  float64
 13  Pertes                                                         4278 non-null   float64
 14  Production                                                     9180 non-null   float64
 15  Semences                                                       2091 non-null   float64
 16  Traitement                                                     2292 non-null   float64
 17  Variation de stock                                             6776 non-null   float64
dtypes: float64(15), object(3)
memory usage: 2.1+ MB

None

In [15]:
#Conversion de la disponibilité intérieure en kg
df_dispo_alimentaire['Disponibilité intérieure']=df_dispo_alimentaire['Disponibilité intérieure']*1000000

#Conversion de la 'Disponibilité alimentaire' en (Kcal/personne/an)
df_dispo_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)']=df_dispo_alimentaire['Disponibilité alimentaire (Kcal/personne/jour)']*365
df_dispo_alimentaire.rename(columns={'Disponibilité alimentaire (Kcal/personne/jour)':'Disponibilité alimentaire (Kcal/personne/an)'},inplace=True)

In [16]:
#Regroupement par pays
df_dispo_alimentaire_pays= df_dispo_alimentaire.groupby('Zone').sum()
df_dispo_alimentaire_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0

In [17]:
# Conversion de la population et Sélection de la zone et de la population
df_population["Population"]=df_population["Population"]*1000
df_population= df_population[["Zone","Population"]]
display(df_population)

                                        Zone  Population
4                                Afghanistan  36296113.0
10                            Afrique du Sud  57009756.0
16                                   Albanie   2884169.0
22                                   Algérie  41389189.0
28                                 Allemagne  82658409.0
...                                      ...         ...
1390  Venezuela (République bolivarienne du)  29402484.0
1396                                Viet Nam  94600648.0
1402                                   Yémen  27834819.0
1408                                  Zambie  16853599.0
1414                                Zimbabwe  14236595.0

[236 rows x 2 columns]

In [18]:
#Jointure pour enrichir le data frame avec la population (versione simplifiée)

df_proportion_dispo_alimentaire_pays=pd.merge(df_dispo_alimentaire_pays[["Disponibilité alimentaire (Kcal/personne/an)"]],df_population[["Zone","Population"]], on='Zone', how='left')
df_proportion_dispo_alimentaire_pays.head()

             Zone  Disponibilité alimentaire (Kcal/personne/an)  Population
0     Afghanistan                                      761755.0  36296113.0
1  Afrique du Sud                                     1102300.0  57009756.0
2         Albanie                                     1163620.0   2884169.0
3         Algérie                                     1201945.0  41389189.0
4       Allemagne                                     1278595.0  82658409.0

In [19]:
#Jointure pour enrichir le data frame avec la population et toutes les données
df_proportion_dispo_alimentaire_pays=pd.merge(df_dispo_alimentaire_pays,sous_nutrition[["Zone","Population"]], on='Zone', how='left')
df_proportion_dispo_alimentaire_pays.head()

,Zone,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0,36296113.0
1,Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0,57009756.0
2,Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0,2884169.0
3,Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0,41389189.0
4,Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0,82658409.0

In [20]:
#Calcul pour trouver la quantité totale de Kcal disponible
total_dispo_alimentaire=((df_proportion_dispo_alimentaire_pays['Population'])*
                         df_proportion_dispo_alimentaire_pays['Disponibilité alimentaire (Kcal/personne/an)']).sum()
print("Il y a un total de", total_dispo_alimentaire,"kcal disponible")

Il y a un total de 7635429388975815.0 kcal disponible

In [21]:
#Calcul du nombre théorique de personnes pouvante être nourries sur un base d'une moyenne de 2500 kcal/pers/an

besoin_energitique_minimal= 2500
Nombre_jours = 365

nombre_personnes_nourries_theo=total_dispo_alimentaire/(besoin_energitique_minimal*Nombre_jours)
print("Nombre total de personnes pouvant théoriquement être nourries", round(nombre_personnes_nourries_theo),"personnes")

Nombre total de personnes pouvant théoriquement être nourries 8367593851 personnes

In [22]:
# Réponse requête 2 : Calcul de la proportion de la population pouvant être nourrie
proportion_population_nourrie_monde=round(nombre_personnes_nourries_theo/((df_population['Population']).sum())*100,2)
print("La proportion de personnes pouvant théoriquement être nourries est de",proportion_population_nourrie_monde,"%")

La proportion de personnes pouvant théoriquement être nourries est de 110.86 %

# Requête 3 Marc: Nombre théorique de personnes qui pourraient être nourries à partir de la disponibilité alimentaire des produits végétaux

In [23]:
#Affichage du data frame df_dispo_alimentaire
display(df_dispo_alimentaire)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,1825.0,1.72,0.20,0.77,53000000.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,365.0,1.29,0.01,0.02,41000000.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,365.0,0.06,0.01,0.03,2000000.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,1460.0,2.70,0.02,0.05,82000000.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,NaN,NaN,16425.0,4.70,4.28,1.41,3000000.0,NaN,0.0,3.0,NaN,2.0,NaN,NaN,NaN
15601,Îles Salomon,Viande de Volailles,animale,NaN,NaN,4015.0,3.34,0.69,1.14,2000000.0,NaN,2.0,2.0,NaN,0.0,NaN,NaN,NaN
15602,Îles Salomon,"Viande, Autre",animale,NaN,NaN,0.0,0.06,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15603,Îles Salomon,Vin,vegetale,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15604,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,1460.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [24]:
#Sélection de la colonne 'Origine' et de la valeur 'vegetale'
df_dispo_alimentaire_vegetale=df_dispo_alimentaire.loc[df_dispo_alimentaire['Origine']=="vegetale"]
df_dispo_alimentaire_vegetale

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,365.0,1.29,0.01,0.02,41000000.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,365.0,0.06,0.01,0.03,2000000.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,1460.0,2.70,0.02,0.05,82000000.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
6,Afghanistan,Bière,vegetale,NaN,NaN,0.0,0.09,NaN,0.00,3000000.0,NaN,3.0,3.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15595,Îles Salomon,Sésame,vegetale,NaN,NaN,0.0,0.01,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15596,Îles Salomon,Thé,vegetale,NaN,NaN,0.0,0.17,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15597,Îles Salomon,Tomates,vegetale,NaN,NaN,0.0,0.07,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15603,Îles Salomon,Vin,vegetale,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15604,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,1460.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [25]:
#Regroupement par pays
df_dispo_alimentaire_vegetale_pays= df_dispo_alimentaire_vegetale.groupby('Zone').sum()
df_dispo_alimentaire_vegetale_pays

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,645.0,415.0,682915.0,271.49,18.27,46.05,1.088400e+10,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0
Afrique du Sud,5122.0,761.0,924545.0,425.17,48.92,48.94,5.343900e+10,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0
Albanie,559.0,172.0,804095.0,706.49,38.76,51.96,3.326000e+09,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0
Algérie,4352.0,1706.0,1063975.0,632.35,54.12,66.94,3.551000e+10,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0
Allemagne,28122.0,6842.0,898265.0,568.82,63.63,39.90,1.268660e+11,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2619.0,992070.0,473.18,53.00,62.81,9.623000e+09,3326.0,12546.0,4426.0,675.0,780.0,0.0,804.0,-376.0
Équateur,1001.0,1905.0,632180.0,327.21,49.48,24.80,1.492600e+10,7142.0,1475.0,5149.0,654.0,20042.0,125.0,6200.0,555.0
États-Unis d'Amérique,145289.0,145102.0,984770.0,590.68,93.68,39.65,6.320230e+11,140442.0,69522.0,189122.0,6937.0,740194.0,9030.0,140986.0,-37242.0
Éthiopie,667.0,3641.0,731825.0,300.99,17.88,52.70,3.882400e+10,918.0,1694.0,28320.0,2125.0,40907.0,635.0,3443.0,-2857.0
Îles Salomon,0.0,229.0,798255.0,587.08,34.27,38.86,6.510000e+08,98.0,69.0,327.0,6.0,691.0,0.0,90.0,-10.0

In [26]:
#Jointure pour avoir un dataframe avec dispo alimentaire et population
df_dispo_alimentaire_vegetale_pays_pop=pd.merge(df_dispo_alimentaire_vegetale_pays,df_population[['Zone','Population']], on='Zone', how='left')
df_dispo_alimentaire_vegetale_pays_pop

,Zone,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock,Population
0,Afghanistan,645.0,415.0,682915.0,271.49,18.27,46.05,1.088400e+10,278.0,2638.0,8293.0,1072.0,8891.0,393.0,63.0,-368.0,36296113.0
1,Afrique du Sud,5122.0,761.0,924545.0,425.17,48.92,48.94,5.343900e+10,10586.0,6468.0,22441.0,2110.0,55649.0,186.0,22819.0,1912.0,57009756.0
2,Albanie,559.0,172.0,804095.0,706.49,38.76,51.96,3.326000e+09,84.0,846.0,2241.0,182.0,2609.0,55.0,113.0,-45.0,2884169.0
3,Algérie,4352.0,1706.0,1063975.0,632.35,54.12,66.94,3.551000e+10,649.0,14672.0,24797.0,3587.0,21964.0,428.0,637.0,-479.0,41389189.0
4,Allemagne,28122.0,6842.0,898265.0,568.82,63.63,39.90,1.268660e+11,34454.0,50642.0,47079.0,3717.0,110926.0,1475.0,39686.0,-247.0,82658409.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,Émirats arabes unis,1174.0,2619.0,992070.0,473.18,53.00,62.81,9.623000e+09,3326.0,12546.0,4426.0,675.0,780.0,0.0,804.0,-376.0,9487203.0
170,Équateur,1001.0,1905.0,632180.0,327.21,49.48,24.80,1.492600e+10,7142.0,1475.0,5149.0,654.0,20042.0,125.0,6200.0,555.0,16785361.0
171,États-Unis d'Amérique,145289.0,145102.0,984770.0,590.68,93.68,39.65,6.320230e+11,140442.0,69522.0,189122.0,6937.0,740194.0,9030.0,140986.0,-37242.0,325084756.0
172,Éthiopie,667.0,3641.0,731825.0,300.99,17.88,52.70,3.882400e+10,918.0,1694.0,28320.0,2125.0,40907.0,635.0,3443.0,-2857.0,106399924.0
173,Îles Salomon,0.0,229.0,798255.0,587.08,34.27,38.86,6.510000e+08,98.0,69.0,327.0,6.0,691.0,0.0,90.0,-10.0,636039.0

In [27]:
#Calcul pour trouver la quantité totale de kcal disponible
total_dispo_alimentaire_vegetale_totale=((df_dispo_alimentaire_vegetale_pays_pop['Population'])*
                                         df_dispo_alimentaire_vegetale_pays_pop['Disponibilité alimentaire (Kcal/personne/an)']).sum()
print("Il y a un total de", total_dispo_alimentaire_vegetale_totale,"kcal disponible")

Il y a un total de 6300178937197865.0 kcal disponible

In [28]:
#Calcul pour trouver combien de personnes pourraient théoriquement être nourries avec la disponibilité alimentaire 
#d'origine végétale sur un base d'une moyenne de 2500 kcal/pers/an

besoin_energitique_minimal= 2500
Nombre_jours = 365
nombre_personnes_nourries_theo_vegetale= total_dispo_alimentaire_vegetale_totale/(besoin_energitique_minimal*Nombre_jours)

print("Le nombre théorique de personnes pouvant être nourries avec la dispo végétale est de",
      round(nombre_personnes_nourries_theo_vegetale),"personnes")

Le nombre théorique de personnes pouvant être nourries avec la dispo végétale est de 6904305685 personnes

In [29]:
#Réponse requête 3 Marc : 
#Calcul de la proportion de personnes pouvant être nourries grâce à la disponibilité végétale
proportion_population_nourrie_monde_vegetale= round(nombre_personnes_nourries_theo_vegetale/
                                                    ((df_population['Population']).sum())*100,2)
print("la proportion de personnes pouvant être nourries grâce à la disponibilité végétale est de", 
      proportion_population_nourrie_monde_vegetale,"%")

la proportion de personnes pouvant être nourries grâce à la disponibilité végétale est de 91.47 %

# Requête 4 Marc: Calcul de la proportion attribuée à l'alimentation animale, humaine et la part perdue grâce à la disponibilité intérieure

# 4a. Proportion de l'alimentation animale totale par rapport à alimentation mondiale

In [30]:
#Affichage du data frame df_dispo_alimentaire
display(df_dispo_alimentaire)

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
0,Afghanistan,Abats Comestible,animale,NaN,NaN,1825.0,1.72,0.20,0.77,53000000.0,NaN,NaN,53.0,NaN,53.0,NaN,NaN,NaN
1,Afghanistan,"Agrumes, Autres",vegetale,NaN,NaN,365.0,1.29,0.01,0.02,41000000.0,2.0,40.0,39.0,2.0,3.0,NaN,NaN,NaN
2,Afghanistan,Aliments pour enfants,vegetale,NaN,NaN,365.0,0.06,0.01,0.03,2000000.0,NaN,2.0,2.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,Ananas,vegetale,NaN,NaN,0.0,0.00,NaN,NaN,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,Bananes,vegetale,NaN,NaN,1460.0,2.70,0.02,0.05,82000000.0,NaN,82.0,82.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15600,Îles Salomon,Viande de Suides,animale,NaN,NaN,16425.0,4.70,4.28,1.41,3000000.0,NaN,0.0,3.0,NaN,2.0,NaN,NaN,NaN
15601,Îles Salomon,Viande de Volailles,animale,NaN,NaN,4015.0,3.34,0.69,1.14,2000000.0,NaN,2.0,2.0,NaN,0.0,NaN,NaN,NaN
15602,Îles Salomon,"Viande, Autre",animale,NaN,NaN,0.0,0.06,NaN,0.04,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15603,Îles Salomon,Vin,vegetale,NaN,NaN,0.0,0.07,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
15604,Îles Salomon,"Épices, Autres",vegetale,NaN,NaN,1460.0,0.48,0.21,0.15,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN

In [31]:
#Affichage du type de données
df_dispo_alimentaire['Aliments pour animaux'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 15605 entries, 0 to 15604
Series name: Aliments pour animaux
Non-Null Count  Dtype
--------------  -----
2720 non-null   float64
dtypes: float64(1)
memory usage: 122.0 KB

In [32]:
#Affichage des valeurs non nulles pour les Aliments pour animaux

df_dispo_alimentaire['Aliments pour animaux']=df_dispo_alimentaire['Aliments pour animaux'].fillna(0)
df_dispo_alimentaire_animaux =df_dispo_alimentaire.loc[df_dispo_alimentaire['Aliments pour animaux']!=0]
df_dispo_alimentaire_animaux

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
29,Afghanistan,Lait - Excl Beurre,animale,123.0,NaN,36500.0,62.23,5.19,6.12,2.083000e+09,0.0,248.0,1901.0,58.0,1835.0,NaN,NaN,NaN
31,Afghanistan,Légumineuses Autres,vegetale,4.0,NaN,8395.0,2.44,0.14,1.56,8.600000e+07,0.0,26.0,74.0,3.0,60.0,5.0,NaN,NaN
32,Afghanistan,Maïs,vegetale,200.0,NaN,7665.0,2.50,0.30,0.56,3.130000e+08,0.0,1.0,76.0,31.0,312.0,5.0,NaN,NaN
40,Afghanistan,Orge,vegetale,360.0,NaN,9490.0,2.92,0.24,0.79,5.240000e+08,NaN,10.0,89.0,52.0,514.0,22.0,NaN,0.0
50,Afghanistan,"Sucre, canne",vegetale,81.0,NaN,NaN,NaN,NaN,NaN,9.000000e+07,NaN,NaN,NaN,NaN,90.0,NaN,9.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15421,États-Unis d'Amérique,Sorgho,vegetale,2351.0,NaN,2555.0,0.74,0.07,0.20,4.362000e+09,2515.0,216.0,236.0,NaN,9882.0,22.0,1753.0,-3220.0
15428,États-Unis d'Amérique,Viande d'Ovins/Caprins,animale,16.0,NaN,1095.0,0.43,0.25,0.16,1.550000e+08,4.0,85.0,139.0,NaN,73.0,NaN,NaN,0.0
15432,États-Unis d'Amérique,"Viande, Autre",animale,33.0,NaN,730.0,0.81,0.07,0.40,2.900000e+08,6.0,9.0,259.0,NaN,287.0,NaN,NaN,0.0
15480,Éthiopie,Lait - Excl Beurre,animale,18.0,0.0,26280.0,44.14,3.81,4.06,4.296000e+09,5.0,13.0,4153.0,129.0,4288.0,NaN,NaN,0.0
15483,Éthiopie,Maïs,vegetale,667.0,NaN,145270.0,42.08,1.31,9.20,5.023000e+09,9.0,8.0,3960.0,334.0,6674.0,62.0,1.0,-1650.0

In [33]:
display(df_dispo_alimentaire_pays)

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1174.0,2689.0,1195375.0,700.24,87.16,104.51,1.185000e+10,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1200.0,1909.0,856290.0,544.91,94.64,61.30,1.861400e+10,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,148432.0,154699.0,1343930.0,1002.39,161.37,109.42,7.779920e+11,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,685.0,3641.0,777085.0,354.55,25.89,60.39,4.401400e+10,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.0,237.0,869795.0,648.91,46.99,56.31,6.950000e+08,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [34]:
# Regroupement par pays et conversion des Aliments pour animaux en tonnes
df_dispo_alimentaire_animaux_pays=df_dispo_alimentaire.groupby('Zone').sum()
df_dispo_alimentaire_animaux_pays['Aliments pour animaux']=df_dispo_alimentaire_pays['Aliments pour animaux']*1000000
df_dispo_alimentaire_animaux_pays

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,7.680000e+08,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,10735.0,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5.309000e+09,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,29812.0,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,6.600000e+08,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3476.0,276.0,3964.0,55.0,113.0,-45.0
Algérie,4.352000e+09,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,31729.0,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,3.020900e+10,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,79238.0,3781.0,154547.0,1551.0,39842.0,-192.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Émirats arabes unis,1.174000e+09,2689.0,1195375.0,700.24,87.16,104.51,1.185000e+10,4343.0,15327.0,6548.0,705.0,1192.0,3.0,804.0,-327.0
Équateur,1.200000e+09,1909.0,856290.0,544.91,94.64,61.30,1.861400e+10,8002.0,1725.0,8574.0,707.0,24337.0,138.0,6200.0,557.0
États-Unis d'Amérique,1.484320e+11,154699.0,1343930.0,1002.39,161.37,109.42,7.779920e+11,163524.0,81887.0,320889.0,7162.0,894668.0,10403.0,141010.0,-35032.0
Éthiopie,6.850000e+08,3641.0,777085.0,354.55,25.89,60.39,4.401400e+10,941.0,1711.0,33361.0,2256.0,46102.0,640.0,3443.0,-2857.0
Îles Salomon,0.000000e+00,237.0,869795.0,648.91,46.99,56.31,6.950000e+08,118.0,81.0,362.0,6.0,739.0,0.0,90.0,-10.0

In [35]:
# Réponse 4a. Proportion de l'alimentation animale totale par rapport à alimentation mondiale
#Calcul de la proportion de l'alimentation animale total par rapport à alimentation totale
Proportion_alimentation_animaux_nourriture_mondiale= df_dispo_alimentaire_animaux_pays['Aliments pour animaux'].sum()/(df_dispo_alimentaire_animaux_pays['Disponibilité intérieure'].sum())*100
print("la proportion de l'alimention animale totale par rapport à alimentation mondiale est de",
      round(Proportion_alimentation_animaux_nourriture_mondiale,2), '%')

la proportion de l'alimention animale totale par rapport à alimentation mondiale est de 13.24 %

# 4b. Proportion de nourriture humaine dans l'alimentation mondiale

In [36]:
#Calcul pour regrouper par pays et conversion de la nourriture en kg
df_dispo_alimentaire_humain_pays=df_dispo_alimentaire.groupby('Zone').sum()

df_dispo_alimentaire_humain_pays['Nourriture']=df_dispo_alimentaire_pays['Nourriture']*1000000 
df_dispo_alimentaire_humain_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,1.073500e+10,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,2.981200e+10,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3.476000e+09,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,3.172900e+10,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,7.923800e+10,3781.0,154547.0,1551.0,39842.0,-192.0

In [37]:
# Réponse 4b. Proportion de nourriture humaine dans l'alimentation mondiale
#Calcul de la proportion de l'alimention humaine total par rapport à alimentation totale

Proportion_alimentation_humaine_nourriture_mondiale= df_dispo_alimentaire_humain_pays['Nourriture'].sum()/(df_dispo_alimentaire_humain_pays['Disponibilité intérieure'].sum())*100
print("la proportion de l'alimention humaine totale par rapport à alimentation mondiale est de",round(Proportion_alimentation_humaine_nourriture_mondiale,2), '%')

la proportion de l'alimention humaine totale par rapport à alimentation mondiale est de 49.51 %

# 4c. Proportion de la  perte dans l'alimentation mondiale

In [38]:
#Calcul pour regrouper par pays et conversion de la perte en kg
df_perte_alimentaire_pays=df_dispo_alimentaire.groupby('Zone').sum()

df_perte_alimentaire_pays['Pertes']=df_perte_alimentaire_pays['Pertes']*1000000 
df_perte_alimentaire_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,10735.0,1.135000e+09,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,29812.0,2.193000e+09,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3476.0,2.760000e+08,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,31729.0,3.753000e+09,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,79238.0,3.781000e+09,154547.0,1551.0,39842.0,-192.0

In [39]:
# 4c. Proportion de la  perte dans l'alimentation mondiale
#Calcul de la proportion de l'alimention humaine total par rapport à alimentation totale

Proportion_perte_nourriture_mondiale= df_perte_alimentaire_pays['Pertes'].sum()/(df_perte_alimentaire_pays['Disponibilité intérieure'].sum())*100
print("la proportion de la perte totale par rapport à alimentation mondiale est de",round(Proportion_perte_nourriture_mondiale,2), '%')

la proportion de la perte totale par rapport à alimentation mondiale est de 4.61 %

# Requête 1 Mélanie: les pays pour lesquels la proportion de personnes sous-alimentées est la plus forte en 2017

In [40]:
#Affichage du précédent data Frame regroupant la merge entre la population des pays et la population en sous-nutrition
display(sous_nutrition.head(10))

                 Zone  Population  Population_sous_nutrition
0         Afghanistan  36296113.0                 10500000.0
1      Afrique du Sud  57009756.0                  3100000.0
2             Albanie   2884169.0                   100000.0
3             Algérie  41389189.0                  1300000.0
4           Allemagne  82658409.0                        0.0
5             Andorre     77001.0                        0.0
6              Angola  29816766.0                  5800000.0
7  Antigua-et-Barbuda     95426.0                        0.0
8     Arabie saoudite  33101179.0                  1600000.0
9           Argentine  43937140.0                  1500000.0

In [41]:
# Réponse Requête 1 Mélanie:
# Calcul de la proportion de la population en sous-nutrition par rapport à la population par pays
sous_nutrition['proportion_sous_nutrition']= round(sous_nutrition['Population_sous_nutrition']/sous_nutrition['Population']*100,2)
sous_nutrition=sous_nutrition.sort_values(['proportion_sous_nutrition'], ascending=False) #tri par ordre décroissant
display(sous_nutrition.head(10))

,Zone,Population,Population_sous_nutrition,proportion_sous_nutrition
78,Haïti,10982366.0,5300000.0,48.26
157,République populaire démocratique de Corée,25429825.0,12000000.0,47.19
108,Madagascar,25570512.0,10500000.0,41.06
103,Libéria,4702226.0,1800000.0,38.28
100,Lesotho,2091534.0,800000.0,38.25
183,Tchad,15016753.0,5700000.0,37.96
161,Rwanda,11980961.0,4200000.0,35.06
121,Mozambique,28649018.0,9400000.0,32.81
186,Timor-Leste,1243258.0,400000.0,32.17
0,Afghanistan,36296113.0,10500000.0,28.93

#  Requête 2 Mélanie: Les pays ayant le plus bénéficié d’aides depuis 2013

In [42]:
#Affichage du data frame aide_alimentaire et du type de chaque colonne
display(df_aide_alimentaire.head())
display(df_aide_alimentaire.dtypes)

  Pays bénéficiaire  Année              Produit  Valeur
0       Afghanistan   2013  Autres non-céréales     682
1       Afghanistan   2014  Autres non-céréales     335
2       Afghanistan   2013         Blé et Farin   39224
3       Afghanistan   2014         Blé et Farin   15160
4       Afghanistan   2013             Céréales   40504

Pays bénéficiaire    object
Année                 int64
Produit              object
Valeur                int64
dtype: object

In [43]:
#Renomination de 'Valeur' et 'Aide_alimentaire en tonne'
df_aide_alimentaire=df_aide_alimentaire.rename(columns={'Valeur':'Aide alimentaire en tonnes'})
df_aide_alimentaire

,Pays bénéficiaire,Année,Produit,Aide alimentaire en tonnes
0,Afghanistan,2013,Autres non-céréales,682
1,Afghanistan,2014,Autres non-céréales,335
2,Afghanistan,2013,Blé et Farin,39224
3,Afghanistan,2014,Blé et Farin,15160
4,Afghanistan,2013,Céréales,40504
...,...,...,...,...
1470,Zimbabwe,2015,Mélanges et préparations,96
1471,Zimbabwe,2013,Non-céréales,5022
1472,Zimbabwe,2014,Non-céréales,2310
1473,Zimbabwe,2015,Non-céréales,306
1474,Zimbabwe,2013,"Riz, total",64

In [44]:
#regroupement par pays bénéficiaire
df_aide_alimentaire_pays= df_aide_alimentaire.groupby('Pays bénéficiaire').sum()
df_aide_alimentaire_pays.head()

                   Année  Aide alimentaire en tonnes
Pays bénéficiaire
Afghanistan        32216                      185452
Algérie            78561                       81114
Angola              8054                        5014
Bangladesh         50347                      348188
Bhoutan            24170                        2666

In [65]:
#Réponse Requête 2 Mélanie: Les pays ayant le plus bénéficié d’aides depuis 2013
# On prends la quantité Aide alimentaire en tonnes par ordre décroissant
df_aide_alimentaire_pays_filtre= df_aide_alimentaire_pays.sort_values(['Aide alimentaire en tonnes'], ascending=False)
display(df_aide_alimentaire_pays_filtre['Aide alimentaire en tonnes'].head(20))

Pays bénéficiaire
République arabe syrienne                     1858943
Éthiopie                                      1381294
Yémen                                         1206484
Soudan du Sud                                  695248
Soudan                                         669784
Kenya                                          552836
Bangladesh                                     348188
Somalie                                        292678
République démocratique du Congo               288502
Niger                                          276344
Tchad                                          267966
Pakistan                                       231072
République populaire démocratique de Corée     187412
Afghanistan                                    185452
République-Unie de Tanzanie                    172022
Philippines                                    171722
Palestine                                      169684
Mali                                           149586
Haïti                                          116450
Nicaragua                                      115332
Name: Aide alimentaire en tonnes, dtype: int64

# Requête 3a. Mélanie:  Les pays ayant le plus de disponibilité/habitant

In [46]:
#On reprend le data frame précédent df_dispo_alimentaire_humain_pays

#Calcul pour regrouper par pays et conversion la nourriture en kg
#df_dispo_alimentaire_humain_pays=df_dispo_alimentaire.groupby('Zone').sum()
#df_dispo_alimentaire_humain_pays['Nourriture']=df_dispo_alimentaire_pays['Nourriture']*1000000 

df_dispo_alimentaire_humain_pays.head()

,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
Zone,,,,,,,,,,,,,,,
Afghanistan,768.0,415.0,761755.0,351.41,33.50,58.26,1.351500e+10,278.0,2988.0,1.073500e+10,1135.0,11171.0,395.0,63.0,-368.0
Afrique du Sud,5309.0,876.0,1102300.0,564.80,83.58,85.33,6.125600e+10,11674.0,7517.0,2.981200e+10,2193.0,63263.0,253.0,22819.0,2153.0
Albanie,660.0,174.0,1163620.0,1095.54,106.48,111.37,4.758000e+09,94.0,933.0,3.476000e+09,276.0,3964.0,55.0,113.0,-45.0
Algérie,4352.0,1707.0,1201945.0,809.13,76.48,91.92,4.263000e+10,655.0,17403.0,3.172900e+10,3753.0,26359.0,449.0,637.0,-479.0
Allemagne,30209.0,7711.0,1278595.0,957.52,141.62,101.39,1.622750e+11,57431.0,65353.0,7.923800e+10,3781.0,154547.0,1551.0,39842.0,-192.0

In [47]:
# Réponse Requête 3a. Mélanie:  Les pays ayant le plus de disponibilité/habitant
# Tri par ordre croissant pour avoir le pays ayant le plus de disponibilité alimentaire/habitant
dispo_alimentaire_max=df_dispo_alimentaire_humain_pays.sort_values(['Disponibilité alimentaire (Kcal/personne/an)'], ascending=False)
display(dispo_alimentaire_max['Disponibilité alimentaire (Kcal/personne/an)'].head(10))

Zone
Autriche                 1376050.0
Belgique                 1364005.0
Turquie                  1353420.0
États-Unis d'Amérique    1343930.0
Israël                   1317650.0
Irlande                  1314730.0
Italie                   1305970.0
Luxembourg               1292100.0
Égypte                   1284070.0
Allemagne                1278595.0
Name: Disponibilité alimentaire (Kcal/personne/an), dtype: float64

# Requête 3b Mélanie:  Les pays ayant le moins de disponibilité/habitant

In [48]:
# Réponse Requête 3b Mélanie:  Les pays ayant le moins de disponibilité/habitant
#Tri par ordre croissant pour avoir le pays ayant le moins de disponibilité alimentaire/habitant
dispo_alimentaire_min=df_dispo_alimentaire_humain_pays.sort_values(['Disponibilité alimentaire (Kcal/personne/an)'], ascending=True)
display(dispo_alimentaire_min['Disponibilité alimentaire (Kcal/personne/an)'].head(10))

Zone
République centrafricaine                     685835.0
Zambie                                        702260.0
Madagascar                                    750440.0
Afghanistan                                   761755.0
Haïti                                         762485.0
République populaire démocratique de Corée    763945.0
Tchad                                         769785.0
Zimbabwe                                      771245.0
Ouganda                                       775990.0
Timor-Leste                                   777085.0
Name: Disponibilité alimentaire (Kcal/personne/an), dtype: float64

Les pays qui sont les plus affectés par la sous-nutrition ne sont pas les pays qui ont reçu le plus d'aides alimentaires

# Question 1 Julien : Concernant les céréales, calcul de la répartition entre l’alimentation humaine et l’alimentation pour animaux

In [49]:
#Importation de la base de donnée depuis le site FAO sur cereales_excl_biere
df_cereales=pd.read_csv(r'C:\Users\franc\Desktop\DATA\PROJET 4 PYTHON\cereales_excl_biere.csv')

In [50]:
#Affichage du data frame
df_cereales.head()

,Code Domaine,Domaine,Code zone,Zone,Code Élément,Élément,Code Produit,Produit,Code année,Année,Unité,Valeur,Symbole,Description du Symbole
0,FBSH,"Bilans Alimentaires (-2013, ancienne méthodolo...",2,Afghanistan,5301,Disponibilité intérieure,2511,Blé et produits,2013,2013,Milliers de tonnes,5992,S,Données standardisées
1,FBSH,"Bilans Alimentaires (-2013, ancienne méthodolo...",2,Afghanistan,5123,Pertes,2511,Blé et produits,2013,2013,Milliers de tonnes,775,S,Données standardisées
2,FBSH,"Bilans Alimentaires (-2013, ancienne méthodolo...",2,Afghanistan,5142,Nourriture,2511,Blé et produits,2013,2013,Milliers de tonnes,4895,S,Données standardisées
3,FBSH,"Bilans Alimentaires (-2013, ancienne méthodolo...",2,Afghanistan,5301,Disponibilité intérieure,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,461,S,Données standardisées
4,FBSH,"Bilans Alimentaires (-2013, ancienne méthodolo...",2,Afghanistan,5123,Pertes,2805,Riz (Eq Blanchi),2013,2013,Milliers de tonnes,24,S,Données standardisées

In [51]:
#Filtre du data frame pour avoir seulement avoir un df plus lisible
df_cereales_filtre=df_cereales.drop(columns=['Code Domaine','Domaine','Code zone','Code Élément','Code Produit','Code année','Année', 'Unité','Symbole','Description du Symbole'], axis=1)
df_cereales_filtre

             Zone                   Élément             Produit  Valeur
0     Afghanistan  Disponibilité intérieure     Blé et produits    5992
1     Afghanistan                    Pertes     Blé et produits     775
2     Afghanistan                Nourriture     Blé et produits    4895
3     Afghanistan  Disponibilité intérieure    Riz (Eq Blanchi)     461
4     Afghanistan                    Pertes    Riz (Eq Blanchi)      24
...           ...                       ...                 ...     ...
4723     Zimbabwe                    Pertes  Sorgho et produits       5
4724     Zimbabwe                Nourriture  Sorgho et produits      57
4725     Zimbabwe  Disponibilité intérieure    Céréales, Autres       2
4726     Zimbabwe     Aliments pour animaux    Céréales, Autres       0
4727     Zimbabwe                Nourriture    Céréales, Autres       2

[4728 rows x 4 columns]

In [52]:
#Affichage du type de colonnes
df_cereales_filtre.dtypes

Zone       object
Élément    object
Produit    object
Valeur      int64
dtype: object

In [53]:
#connaître les différentes données d'une colonne
df_cereales_filtre['Élément'].unique()

array(['Disponibilité intérieure', 'Pertes', 'Nourriture',
       'Aliments pour animaux'], dtype=object)

In [54]:
#connaître les différentes données d'une colonne
df_cereales_filtre['Produit'].unique()

array(['Blé et produits', 'Riz (Eq Blanchi)', 'Orge et produits',
       'Maïs et produits', 'Millet et produits', 'Céréales, Autres',
       'Seigle et produits', 'Avoine', 'Sorgho et produits'], dtype=object)

In [55]:
#Conversion en Tonnes
df_cereales_filtre['Valeur']=df_cereales_filtre['Valeur']*1000
df_cereales_filtre=df_cereales_filtre.rename(columns={'Valeur':'Quantité en Tonne'})

In [56]:
display(df_cereales_filtre)

,Zone,Élément,Produit,Quantité en Tonne
0,Afghanistan,Disponibilité intérieure,Blé et produits,5992000
1,Afghanistan,Pertes,Blé et produits,775000
2,Afghanistan,Nourriture,Blé et produits,4895000
3,Afghanistan,Disponibilité intérieure,Riz (Eq Blanchi),461000
4,Afghanistan,Pertes,Riz (Eq Blanchi),24000
...,...,...,...,...
4723,Zimbabwe,Pertes,Sorgho et produits,5000
4724,Zimbabwe,Nourriture,Sorgho et produits,57000
4725,Zimbabwe,Disponibilité intérieure,"Céréales, Autres",2000
4726,Zimbabwe,Aliments pour animaux,"Céréales, Autres",0
4727,Zimbabwe,Nourriture,"Céréales, Autres",2000

In [57]:
#On filtre par Disponibilité intérieure et on en fait la somme
df_cereales_total= df_cereales_filtre['Élément'].isin(['Disponibilité intérieure'])
df_cereales_total= df_cereales_filtre[df_cereales_total].sum()
print("Il y a une quantité totale de",df_cereales_total['Quantité en Tonne'], "tonnes de céréales")

Il y a une quantité totale de 2898317000 tonnes de céréales

In [58]:
#On filtre par Nourriture humaine et on en fait la somme
df_cereales_humain= df_cereales_filtre['Élément'].isin(['Nourriture'])
df_cereales_humain= df_cereales_filtre[df_cereales_humain].sum()
print("Il y a une quantité totale de",df_cereales_humain['Quantité en Tonne'], "tonnes de céréales réservée à la nourriture humaine")

#Proportion de céréales pour l'amimentation humaine
Proportion_cereales_humain= df_cereales_humain['Quantité en Tonne']/df_cereales_total['Quantité en Tonne']*100
print("Soit :",round(Proportion_cereales_humain,2),"%")

Il y a une quantité totale de 1241405000 tonnes de céréales réservée à la nourriture humaine
Soit : 42.83 %

In [59]:
#On filtre par aliments pour animaux et on en fait la somme
df_cereales_animaux= df_cereales_filtre['Élément'].isin(['Aliments pour animaux'])
df_cereales_animaux= df_cereales_filtre[df_cereales_animaux].sum()
print("Il y a une quantité totale de",df_cereales_animaux['Quantité en Tonne'], "tonnes de céréales réservée aux animaux")

#Proportion de céréales pour l'amimentation animale
Proportion_cereales_animaux= df_cereales_animaux['Quantité en Tonne']/df_cereales_total['Quantité en Tonne']*100
print("Soit :",round(Proportion_cereales_animaux,2),"%")

Il y a une quantité totale de 1070617000 tonnes de céréales réservée aux animaux
Soit : 36.94 %

# Requête 2 Julien : Le manioc en Thaïlande au niveau de la proportion de personnes en sous-nutrition. L'exportation du manioc par rapport à la production.

In [60]:
#Sélection du df_sous-nutrition en Thaïlande pour avoir la population, la population en sous-nutrition et la proportion
sous_nutrition_thai= sous_nutrition.loc[sous_nutrition['Zone']=='Thaïlande'].sum()
display(sous_nutrition_thai.head())

Zone                          Thaïlande
Population                   69209810.0
Population_sous_nutrition     6200000.0
proportion_sous_nutrition          8.96
dtype: object

In [61]:
#Sélection du df_sous-nutrition en Thaïlande 
df_dispo_thai= df_dispo_alimentaire.loc[df_dispo_alimentaire['Zone']=='Thaïlande']
df_dispo_thai

,Zone,Produit,Origine,Aliments pour animaux,Autres Utilisations,Disponibilité alimentaire (Kcal/personne/an),Disponibilité alimentaire en quantité (kg/personne/an),Disponibilité de matière grasse en quantité (g/personne/jour),Disponibilité de protéines en quantité (g/personne/jour),Disponibilité intérieure,Exportations - Quantité,Importations - Quantité,Nourriture,Pertes,Production,Semences,Traitement,Variation de stock
13759,Thaïlande,Abats Comestible,animale,0.0,NaN,1095.0,1.11,0.09,0.56,74000000.0,5.0,33.0,75.0,NaN,45.0,NaN,NaN,0.0
13760,Thaïlande,"Agrumes, Autres",vegetale,0.0,NaN,0.0,0.09,0.00,0.00,8000000.0,6.0,2.0,6.0,NaN,12.0,NaN,2.0,0.0
13761,Thaïlande,"Alcool, non Comestible",vegetale,0.0,358.0,NaN,NaN,NaN,NaN,358000000.0,110.0,21.0,NaN,NaN,447.0,NaN,NaN,0.0
13762,Thaïlande,Aliments pour enfants,vegetale,0.0,NaN,730.0,0.18,0.01,0.08,12000000.0,7.0,19.0,12.0,NaN,NaN,NaN,NaN,NaN
13763,Thaïlande,Ananas,vegetale,0.0,NaN,3650.0,10.02,0.04,0.08,782000000.0,1449.0,9.0,671.0,110.0,2209.0,NaN,NaN,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13849,Thaïlande,Viande de Suides,animale,0.0,NaN,45260.0,13.00,11.83,3.92,871000000.0,22.0,1.0,871.0,NaN,891.0,NaN,0.0,NaN
13850,Thaïlande,Viande de Volailles,animale,0.0,NaN,18980.0,13.69,3.62,4.49,945000000.0,536.0,11.0,917.0,28.0,1470.0,NaN,NaN,0.0
13851,Thaïlande,"Viande, Autre",animale,0.0,NaN,0.0,0.03,0.01,0.02,-92000000.0,96.0,4.0,2.0,NaN,NaN,NaN,NaN,NaN
13852,Thaïlande,Vin,vegetale,0.0,NaN,0.0,0.12,NaN,NaN,8000000.0,8.0,16.0,8.0,NaN,NaN,NaN,NaN,0.0
13853,Thaïlande,"Épices, Autres",vegetale,0.0,NaN,5840.0,1.70,0.30,0.43,114000000.0,42.0,13.0,114.0,NaN,143.0,NaN,NaN,NaN

In [62]:
#Affichage des valeurs uniquese pour vérifier qu'on a bien le manioc
df_dispo_thai['Produit'].unique()

array(['Abats Comestible', 'Agrumes, Autres', 'Alcool, non Comestible',
       'Aliments pour enfants', 'Ananas', 'Animaux Aquatiques Autre',
       'Arachides Decortiquees', 'Avoine', 'Bananes', 'Beurre, Ghee',
       'Bière', 'Blé', 'Boissons Alcooliques', 'Boissons Fermentés',
       'Café', 'Cephalopodes', 'Citrons & Limes', 'Coco (Incl Coprah)',
       'Crustacés', 'Crème', 'Céréales, Autres', 'Dattes',
       'Edulcorants Autres', 'Feve de Cacao', 'Fruits, Autres',
       'Girofles', 'Graines Colza/Moutarde', 'Graines de coton',
       'Graines de tournesol', 'Graisses Animales Crue', 'Haricots',
       'Huil Plantes Oleif Autr', 'Huile Graines de Coton',
       "Huile d'Arachide", "Huile d'Olive", 'Huile de Coco',
       'Huile de Colza&Moutarde', 'Huile de Germe de Maïs',
       'Huile de Palme', 'Huile de Palmistes', 'Huile de Soja',
       'Huile de Son de Riz', 'Huile de Sésame', 'Huile de Tournesol',
       'Huiles de Foie de Poisso', 'Huiles de Poissons', 'Ignames',
       'Lait - Excl Beurre', 'Légumes, Autres', 'Légumineuses Autres',
       'Manioc', 'Maïs', 'Miel', 'Millet', 'Miscellanees',
       'Mollusques, Autres', 'Noix', 'Oeufs', 'Oignons', 'Olives',
       'Oranges, Mandarines', 'Orge', 'Palmistes', 'Pamplemousse',
       'Patates douces', 'Perciform', 'Piments', 'Plantes Aquatiques',
       'Plantes Oleiferes, Autre', 'Pois', 'Poissons Eau Douce',
       'Poissons Marins, Autres', 'Poissons Pelagiques', 'Poivre',
       'Pommes', 'Pommes de Terre', 'Racines nda', 'Raisin',
       'Riz (Eq Blanchi)', 'Seigle', 'Soja', 'Sorgho', 'Sucre Eq Brut',
       'Sucre, betterave', 'Sucre, canne', 'Sésame', 'Thé', 'Tomates',
       "Viande d'Ovins/Caprins", 'Viande de Bovins', 'Viande de Suides',
       'Viande de Volailles', 'Viande, Autre', 'Vin', 'Épices, Autres'],
      dtype=object)

In [63]:
#Filtre sur le manioc
df_dispo_thai_manioc= df_dispo_thai.loc[df_dispo_thai['Produit']=='Manioc'].sum()
display(df_dispo_thai_manioc)

Zone                                                                Thaïlande
Produit                                                                Manioc
Origine                                                              vegetale
Aliments pour animaux                                                  1800.0
Autres Utilisations                                                    2081.0
Disponibilité alimentaire (Kcal/personne/an)                          14600.0
Disponibilité alimentaire en quantité (kg/personne/an)                   13.0
Disponibilité de matière grasse en quantité (g/personne/jour)            0.05
Disponibilité de protéines en quantité (g/personne/jour)                 0.14
Disponibilité intérieure                                         6264000000.0
Exportations - Quantité                                               25214.0
Importations - Quantité                                                1250.0
Nourriture                                                              871.0
Pertes                                                                 1511.0
Production                                                            30228.0
Semences                                                                  0.0
Traitement                                                                0.0
Variation de stock                                                        0.0
dtype: object

In [64]:
# Réponse Requête 2 Julien : Calcul de la part de manioc exportée face à la part produite en Thaïlande
proportion_exportation_manioc=round(df_dispo_thai_manioc['Exportations - Quantité']/df_dispo_thai_manioc['Production']*100,2)

print(proportion_exportation_manioc,"% du manioc produit en Thaïlande part en exportation, alors que", round(sous_nutrition_thai['Population_sous_nutrition']),
"personnes souffrent de sous-nutrition, soit",sous_nutrition_thai['proportion_sous_nutrition'],"% de la population thaïlandaise" )

83.41 % du manioc produit en Thaïlande part en exportation, alors que 6200000 personnes souffrent de sous-nutrition, soit 8.96 % de la population thaïlandaise